.vscode/**
.vscode-test/**
out/test/**
node_modules/**

src/*.ts
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.svg
**/*.mov
**/*.code-workspace
media/convert_mov
release.sh